.content-wrap {
  padding: 1rem;

  .search-menu-container {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
  }
}
.navbar-logo {
  display: flex;
  justify-content: flex-end;
  img {
    width: 5vw;
    height: 5vh;
  }
}
